# This file holds tool's default configuration file.

# Key are defined as:
# style 1: leading & trailing spaces are removed,and references are resolved
# key1 = val1${key2}

# style 2: used as-is, no spaces are removed or references aren't resolved
# key2: val2${key3}

# style 3: spaces aren't removed, but references are resolved
# key3 := val3${key4}

# Type of database:
# Options supported: memory, sqlite, mariadb/mysql
db_type = mysql

#db_host = localhost
#db_port = 

db_name = vulpesdb
db_user = vulpesusr
db_pass = Vulp3sP4$5


# editor to use, when needed
editor = vim
